* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#wrapper {
    width: 30%;
}

.row {
    display: flex;
}

.col {
    flex: 1;
    height: 100px;
    border: medium solid black;
    cursor: pointer;
    font-size: 70px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.col:first-child{
    border-left: none;
}

.col:last-child{
    border-right: none;
}

.row:first-child .col{
    border-top: none;
}

.row:last-child .col{
    border-bottom: none;
}

.winner{
    color: #009900;
}